{% extends 'templates/base.html' %}
{% block context %}
      <div class="form-group">
                   <form class="form-group" METHOD="GET" action="{% url 'sale_flow' %}">
                     <!--查询日期-->
                      <span class="glyphicon glyphicon-calendar"></span> <input type="date" name="cxdate">
                      <!--查询店铺-->
                      <span class="glyphicon glyphicon-home"> </span>
                       <select class="selector" name="cx_shop">
                        <option>所有</option>
                         {% for s in shop %}
                           <option>{{ s.name }}</option>
                          {% endfor %}
                        </select>
                       <button type="submit"><span class="glyphicon glyphicon-check"></span></button>
                   </form>
               </div>


       <table class="table">
           <tr>
               <td>存货编码</td>
               <td>存货名称</td>
               <td>数量</td>
               <td>销售价</td>
               <td>零售价</td>
           </tr>
           {% for a in sale_base %}
               <tr>
                 <td>{{ a.inventory_code }}</td>
                 <td>{{ a.inventory_name }}</td>
               <td>{{ a.quantity }}</td>
               <td>{{ a.saleprice }}</td>
               <td>{{ a.retailprice }}</td>
               </tr>
           {% endfor %}
       </table>

{% endblock %}